/*Album Page CSS Page
Minh Chuong*/


/*embed new font called Syncopate*/
@font-face	{
	font-family: "Syncopate";	
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Syncopate-Regular.ttf");
} 

/*Change font of Album Title*/
span	{
	font-family: Syncopate;
}

h1, h3	{			
	color: white;
	font-family: Arial Black;
	letter-spacing: 10px;
	text-align: center;
}	

#artist		{
	color: white;
	font-family: Arial Black;
	letter-spacing: 10px;
	text-align: center;
}

/*apply font to label and producer text*/
#label	{
	font-family: Syncopate;
	color: white;
	text-align: center;
}
		
li		{
	color:white;
	font-style: italic;
	font-family:Arial;
	letter-spacing:5px;
}	
a		{
	text-decoration: none;
}

/*change effects of Avicii link*/
a:link	{
	color: #1A9ED7;
}
a:visited	{
	color: #9B2EB7;
}
a:hover		{
	background-color: #FE9742;
	text-decoration: underline;
}
a:active	{
	font-style: italic;
}

th		{
	color: white;
	background-color: #1A9ED7;
}

tbody	{
	color: white;
}

/*override stripe color*/
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: rgba(10,62,84,.3);
}

/*override hover color*/
.table-hover > tbody > tr:hover {
  background-color: #FE9742;
}

caption	{
	color: #FE9742;
	text-align: center;
	font-size: 25px;
	font-family: Arial Black;
}

/*color classes*/
.blue	{color: #1A9ED7;}	
.purple	{color: #9B2EB7;}
.magenta{color: #E11656;}
.orange	{color: #FE9742;}
.teal	{color: #2BEDB9;}
.center {
	margin: auto;
	width: 100%;
	text-align: center;
}

/*Change heading to fit on smaller pages*/
@media screen and (max-width: 480px) {
	h1 		{
		font-size: 25px;
		letter-spacing: 5px;
	}
	#artist	{
		font-size: 25px;
	}
	
	h3	{
		font-size: 15px;
	}
}



