/*Restaurant Style Sheet
Minh Chuong*/

/*hosted font*/
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

@media screen and (max-width: 480px){
	h1 {
		font-size: 30px;
	}
}

body	{
	height: 100%;
	width: 100%;
	margin: 0px; 
	padding: 0px;
	overflow-x: hidden;
}

p	{
	font-family: 'Arvo', serif;
}

#header		{
	background-color: #660000;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: 'Arvo', serif;
	font-style: bold;
	text-align: center;
	color: white;
}


.navbar	{
	margin-bottom: 0px;
}
			
.line 	{
	background-color: #00004d;
	height: 50px;
}
			
.red	{
	background-color: #660000;
	color: white;
}
			
.container-fluid	{
	padding: 0px;
}

/*nav bar and nav styles*/
.navbar	{
	border-radius: 0px;
}
.nav > li > a 	{
	color: white;
}
.nav	{
	background-color: #00004d;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #007acc;
  color: white;
}
.nav > li.disabled > a {
  color: #777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eee;
  border-color: #007acc;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

.nav-tabs {
  border-bottom: none;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: none;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: white;
  cursor: default;
  background-color: #007acc;
  border: 1px solid #007acc;
  border-bottom-color: transparent;

