/*Album Page CSS Page
Minh Chuong*/


/*embed new font called Syncopate*/
@font-face	{
	font-family: "Syncopate";	
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/Syncopate-Regular.ttf");
} 

/*Change font of Album Title*/
span	{
	font-family: Syncopate;
}

h1, h3	{			
	color: white;
	font-family: Arial Black;
	letter-spacing: 10px;
	text-align: center;
}	

#artist		{
	color: white;
	font-family: Arial Black;
	letter-spacing: 10px;
	text-align: center;
}

/*apply font to label and producer text*/
#label	{
	font-family: Syncopate;
	color: white;
	text-align: center;
}
		
li		{
	color:white;
	font-style: italic;
	font-family:Arial;
	letter-spacing:5px;
}	
a		{
	text-decoration: none;
}

/*change effects of Avicii link*/
a:link	{
	color: #1A9ED7;
}
a:visited	{
	color: #9B2EB7;
}
a:hover		{
	background-color: #FE9742;
	text-decoration: underline;
}
a:active	{
	font-style: italic;
}

th		{
	color: white;
	background-color: #1A9ED7;
}
caption	{
	color: #FE9742;
	text-align: center;
	font-size: 25px;
	font-family: Arial Black;
}

/*style for the tracks table*/
.tracks	{
	border: 1px solid white;
	width: 70%;
	color: white;
	font-style: italic;
	background-color: rgba(225,22,86,.2);
}

/*color classes*/
.blue	{color: #1A9ED7;}	
.purple	{color: #9B2EB7;}
.magenta{color: #E11656;}
.orange	{color: #FE9742;}
.teal	{color: #2BEDB9;}
.center {
	margin: auto;
	width: 100%;
	text-align: center;
}

/*collapse the border to a single line*/
table	{
	border-collapse: collapse;
}

/*remove vertical line in table*/
td		{
	border-left: none;
	border-right: none;
}

/*changes the color of the table by even rows*/
tr:nth-child(even)	{
	background-color: rgba(10,62,84,0.5);
}

tr:hover	{
	color: #FE9742;
}

/*create image using div backgound image only to the first child*/
div:first-child	{
	 height: 400px;
	 width: 400px;
	 background: url("../Images/AviciiAlbumCover.jpg") no-repeat center top;
	 background-size: 400px 400px;
 }
