/*Restaurant Style Sheet
Minh Chuong*/

/*hosted font*/
@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

h1		{
	padding-top: 20px;
	font-family: 'Arvo', serif;
	font-style: bold;
	text-align: center;
	color: white;
	margin: 0;
}
body	{
	margin: 0px;
	padding: 0px;
	background-color: #800000;
}

#heading	{
	background-color: #800000
}

#links th{
	padding-left: 30px;
	padding-bottom: 20px;
}

/*set up footer for all pages*/
footer	{
	text-align: center;
	font-family: 'Arvo', serif;
	background-color: #800000;
	color: white;
	margin-bottom:0;
	padding-top: 20px;
	padding-bottom: 20px;
}
a		{
	text-decoration: none;
}

/* state of links effects*/
a:link	{
	color: white;
	font-family: 'Arvo', serif;
	font-weight: lighter;
}
a:visited{
	color: #007acc
}
a:hover	{
	color: #ffffcc;
	font-weight: bolder;
}
a:active{
	font-style: italic;
}

