/*Album Page CSS Page
Minh Chuong*/

h1, h2, h3	{			
	color: white;
	font-family: Arial Black;
	letter-spacing: 10px;
	text-align: center;
}	
		
li		{
	color:white;
	font-family:Arial;
	letter-spacing:5px;
}	
a		{
	color: #1A9ED7;
	text-decoration: none;
}
a:hover	{
	color: #FE9742;
}
a:visited	{
	color: #9B2EB7;
}
th		{
	color: white;
	background-color: #1A9ED7;
}
caption	{
	color: #FE9742;
	text-align: center;
	font-size: 25px;
	font-family: Arial Black;
}
.tracks	{
	border: 1px solid white;
	width: 70%;
	color: white;
}
.blue	{color: #1A9ED7;}	
.purple	{color: #9B2EB7;}
.magenta{color: #E11656;}
.orange	{color: #FE9742;}
.teal	{color: #2BEDB9;}
.center {
	margin: auto;
	width: 100%;
	text-align: center;
}

table	{
	border-collapse: collapse;
}

td		{
	border-left: none;
	border-right: none;
}

tr:nth-child(even)	{
	background-color: rgba(10,62,84,0.5);
}


tr:hover	{
	color: #FE9742;
}

