/*Restaurant Style Sheet
Minh Chuong*/

body	{
	color: white;
	background-color: black;
}

h1		{
	font-family: Arial Black;
	letter-spacing: 5px;
	text-align: center;
}

footer	{
	text-align: center;
	font-family: Arial;
	margin-bottom: 15px;
}

th		{
	padding-right: 40px;
}

a		{
	text-decoration: none;
	color: white;
}

a:hover	{
	color: red;
}

div		{
	margin-left:50px;
}
