/*Restaurant Style Sheet
Minh Chuong*/

@import url(https://fonts.googleapis.com/css?family=Arvo:400,700);

h1		{
	padding-top: 20px;
	font-family: 'Arvo', serif;
	font-style: bold;
	text-align: center;
	color: white;
	margin: 0;
}
body	{
	margin: 0px;
	padding: 0px;
	background-color: #800000;
}
#heading	{
	background-color: #800000
}
#links	{
	font-family: 'Arvo', serif;
}
#links th{
	padding-left: 30px;
	padding-bottom: 20px;
}
footer	{
	text-align: center;
	font-family: 'Arvo', serif;
	background-color: #800000;
	color: white;
	margin-bottom:0;
	padding-top: 20px;
	padding-bottom: 20px;
}
a		{
	text-decoration: none;
}
a:link	{
	color: white;
}
a:visited{
	color: #007acc
}
a:hover	{
	color: #ffffcc;
}
a:active{
	font-style: italic;
}

